div.followers-container {
    border: 1px solid #000;
    border-radius: 5px;
    text-align: center;
}

.follower-list {
    list-style-type: none;
    padding: 0;
}

.follower-list-item {
    display: inline;
}

.follower-list-item a {
    text-decoration: none;
}

.follower-image {
    border: 1px solid #000;
    border-radius: 50%;
    width: 2rem;
}