<div [ngStyle]="{'width': width}">
    <div class="search-container" *ngIf="displaySearch === 'true'">
        <form>
            <div>
                <ngl-form-element class="slds-m-top--small">
                    <input class="searchbox" type="text" #username placeholder="Github Username" id="search_github" />
                </ngl-form-element>         
            </div>
            <div class="padding">
                <input type="submit" nglButton="neutral" (click)="Search(username.value)" value="Search" />
                <button type="button" nglButton="neutral" (click)="Reset()">Reset</button>
            </div>
        </form>
        <div *ngIf="displayUser">
            <a target="_blank" href="{{ user | displayUserProp: 'html_url' }}"> 
                <img class="user-image" src="{{ user | displayUserProp: 'avatar_url' }}" title="{{ user | displayUserProp: 'login' }}" alt="{{ user | displayUserProp: 'login' }}" />
            </a>
        </div>
        <div *ngIf="!displayUser">
            <h3>No User!</h3>
        </div>
        <div class="padding" *ngIf="searchCount === 'true'">
            <ngl-badge type="success">Success</ngl-badge>
            <span> {{ successObs | async }}</span>
        </div>
        <div class="padding" *ngIf="failCount === 'true'"> 
            <ngl-badge type="error">Error</ngl-badge>
            <span>{{ failObs | async }}</span>
        </div>
    </div>
    <div *ngIf="displayUser && displayFollowers === 'true'">
        <gh-followers [followersUrl]="followersUrl"></gh-followers>
    </div>
    <div *ngIf="displayUser && displayFollowing === 'true'">
        <gh-following [followingUrl]="followingUrl"></gh-following>
    </div>
    <div *ngIf="displayUser && displayGists === 'true'">
        <gh-gists [gistsUrl]="gistsUrl"></gh-gists>
    </div>
</div>