<div>
    <form>
        <input class="searchbox" type="text" #username placeholder="Github Username" id="search_github" />
        <button type="button" (click)="Search(username.value)">Search</button>
    </form>
    <div *ngIf="displayUser">
        <a target="_blank" href="{{user.html_url}}">{{user.login}}</a>
        <img src="{{user.avatar_url}}" />
    </div>
    <div *ngIf="!displayUser">
        <h3>No User!</h3>
    </div>
    <div>
        <p>Search Count: {{SearchCount | async}}</p>
    </div>
    <div> 
        <p>Failure Count: {{FailCount | async}}</p>
    </div>
</div>