<div>
    <form>
        <input class="searchbox" type="text" #username placeholder="Github Username" id="search_github" />
        <input type="submit" (click)="Search(username.value)" value="Search" />
        <button type="button" (click)="Reset()">Reset</button>
    </form>
    <div *ngIf="displayUser">
        <a target="_blank" href="{{user.html_url}}">{{user.login}}</a>
        <img src="{{user.avatar_url}}" />
    </div>
    <div *ngIf="!displayUser">
        <h3>No User!</h3>
    </div>
    <div>
        <p>Search Count: {{ successObs | async }}</p>
    </div>
    <div> 
        <p>Failure Count: {{ failObs | async }}</p>
    </div>
    <div *ngIf="displayUser">
        <h3>Followers</h3>
        <ul> 
            <li *ngFor="#follower of followers | async">
                {{ follower.login }}
            </li>
        </ul>
    </div>
</div>